################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/nanovaTest/bin/x86/Debug
/nanovaTest/obj/x86/Debug
.vs/nanovaTest/v14/.suo
